<?xml version='1.0'?>
<config
	xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
	xsi:noNamespaceSchemaLocation='urn:magento:module:Df_Config:etc/system_file.xsd'
>
	<system>
		<section id='df_mail'>
<!-- 2015-09-25, 2017-10-22
Magento 2 is not capable to automatically order settings groups
in the backend «Stores» → «Configuration» left menu by alphabet.
To achieve such ordering, I use the following 2 rules to assign a `sortOrder` value to a settings group:
1) The 1-st and 2-nd digits of a `sortOrder` value
are the digits of the ordering number of the 1-st letter of the module's label in the English alphabet:
https://en.wikipedia.org/wiki/English_alphabet
2) The 3-rd and 4-nd digits of a `sortOrder` value
are the digits of the ordering number of the 2-nd letter of the module's label in the English alphabet.
===
An example:
A label is «Stripe».
The first letter is «S». It is the 19-nd letter of the English alphabet.
The second letter is «t». It is the 20-nd letter of the English alphabet.
So the `sortOrder` value is 1920.
-->
			<group
				id='smtp'
				showInDefault='1' showInStore='1' showInWebsite='1'
				sortOrder='1913'
				translate='label'
			>
				<label>SMTP</label>
				<dfExtension>Dfe_SMTP</dfExtension>
				<frontend_model>Df\Config\Fieldset</frontend_model>
				<field
					id='enable'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='1'
					translate='label'
					type='Df\Framework\Form\Element\Checkbox'
				>
					<label>Enable?</label>
					<backend_model>Df\Config\Backend\Checkbox</backend_model>
					<comment><![CDATA[Enable the «<a href='https://mage2.pro/c/extensions/smtp' target='_blank'>SMTP</a>» module?]]></comment>
				</field>
				<field
					id='service'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='2'
					translate='label'
					type='select'
				>
					<label>Which SMTP service do you use?</label>
					<source_model>Dfe\SMTP\Source\Service</source_model>
					<depends><field id='enable'>1</field></depends>
				</field>
				<group
					id='mailgun'
					showInDefault='1' showInStore='1' showInWebsite='1'
					sortOrder='2'
					translate='label'
				>
					<label>Mailgun</label>
					<comment><![CDATA[<a href='https://mage2.pro/t/2103' target='_blank'>Where to find it?</a>]]></comment>
					<depends>
						<field id='enable'>1</field>
						<field id='service'>Mailgun</field>
					</depends>
					<field
						id='login'
						showInDefault='1' showInStore='1' showInWebsite='1'
						sortOrder='2'
						translate='label'
						type='text'
					>
						<label>Login</label>
						<comment><comment><![CDATA[<a href='https://mage2.pro/t/5339' target='_blank'>Where to find it?</a>]]></comment></comment>
						<validate>validate-email</validate>
					</field>
				</group>
			</group>
		</section>
	</system>
</config>